*{
    margin-top: 0px;
    padding: 0;
}
.container{
    display: flex;
    margin:0;
    
}
.sidebar{
    background-color: rgb(130, 130, 196);
    width:200px;
    height:100vh;
}
.sidebar nav{
    padding-left:3vw;
    font-size:15px;
    font-weight: bold
    

}
.sidebar nav li{
     text-decoration: none;
    padding-top: 5vh;
    
}
.sidebar nav li a{
    text-decoration: none;
     color: #000000
   
}

.main{
    display: relative;
    width:100%;
    
    background-color:rgb(34, 228, 60);
}
.infoContainer{
    background-color: red;
    height: 65vh;
    width: 70vw;
    margin: 70px auto ;
    display:flex;
    justify-content: space-around;
    
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    

}
.hello{
    font-size: 50px;
    font-weight:normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nam{
    font-size: 35px;
    font-weight: bold;
}
.about{
       
}
.but{
    margin-top:3vh;
}
.but button{
           padding:7px;
           max-width:110px;
           border-radius: 13px;
           -webkit-border-radius: 13px;
           -moz-border-radius: 13px;
           -ms-border-radius: 13px;
           -o-border-radius: 13px;
           background-color: rgb(3, 3, 3);
           font-weight: bold;
           margin: 0 3px;
           color: #fff;
           cursor: pointer;
           font-size:fit-content;
           
        }
.but button:hover{
    background-color: #fff;
    color: #000
}       
.devpic{
    width: 30%;
}
.devpic img{
     width: 20vw;
     height:55vh;
     margin-bottom: 0px;
     margin-top: 10vh;
}
.form{
    
   margin-top: 10vh;    
    width: 50;
    margin-left :10vw;

}
.contact_form{
    justify-content: center;

}
.contact_form h1{
    width: fit-content;
    display: inline;
    font-size:2rem;
}
.row{
    margin-top: 10vh;
}
.col-md-6{
        display:grid;
        margin: 3vh;
}
.row-md{
    padding: auto;
    max-width: 40vw;
    height:3vh;
}
.name{
    font-size:18px;
    font-weight:bold;
}
.form-check-label{
    font-size:12px;
    

}


